/****WIDTH****/
/****COLORS*****/
/*****FONT SIZE*****/
/****FONT WEIGHT****/
body {
  font-family: Outfit, sans-serif;
}

.heading-primary {
  font-size: 2.2rem;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

.u-margin-bottom-sm {
  margin-bottom: 1.4rem;
}

.u-margin-bottom-md {
  margin-bottom: 2rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
}

.container {
  max-width: 100vh;
  height: 100%;
  margin: 0 auto;
  place-content: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  width: 32rem;
  border-radius: 16px;
  padding: 1.6rem;
  box-shadow: 0 1.5rem 2rem rgba(51, 51, 51, 0.1);
  transition: all 0.2s;
  left: 50%;
  text-align: center;
}
.card__figure {
  width: 100%;
  overflow: hidden;
}
.card__figure-img {
  width: 100%;
  border-radius: 10px;
}
.card__text {
  padding: 0 2rem;
  color: hsl(216, 15%, 48%);
  font-size: 1.5rem;
  font-weight: 400;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 3rem 3.5rem rgba(51, 51, 51, 0.07);
}
