@use "../abstract/variables" as variables;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: variables.$color-slate-light;
    height: 100vh;
}

.container {
    max-width: 100vh;
    height: 100%;
    margin: 0 auto;
    place-content: center;
}